body {
  margin: 0;
  padding: 0;
}

/*TRAVAIL ROMAIN ICI */
main {
  background: rgba(85, 154, 173, 1);
  height: 100vh;
  overflow: hidden;
}

.sectionMain {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 23vh;
}

.sectionMain .decouvrir {
  width: 50vw;
  height: 10vh;
  border: 1px #ccc solid;
  text-decoration: none;
  transition: background 500ms ease;
  border-radius: 15px;
}

.decouvrir:hover {
  background: lightgray;
}

.btnDetails {
  width: 30vw;
  height: 10vh;
  border: 1px #ccc solid;
  text-decoration: none;
  transition: background 500ms ease;
  border-radius: 15px;
}

.btnDetails:hover {
  background: lightgray;
}

main>img {
  width: 100vw;
}

main>h2 {
  text-align: center;
  color: white;
}

.synopsisDetails>h3 {
  color: white;
}

.sectionDetails {
  display: flex;
  justify-content: center;
}

.sectionDetails a {
  margin: 0 10px;
}

.synopsisDetails {
  padding-left: 3rem;
}

.synopsisDetails p {
  color: black;
  text-align: unset;
  float: unset;
}

.sectionacteUn {
  background: white;
  border-radius: 15px;
  padding-left: 1em;
  padding-right: 1em;
  margin: 0 1em 0 1em;
  height: 92vh;

}

.sectionacteUn div {
  width: 30vw;
  margin-left: 13rem;
}

.sectionacteUn div img {
  width: 100%
}

.sectionacteUn article p {
  color: black;
  text-align: unset;
  float: unset;
}

@media(min-width: 900px) {
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/*TRAVAIL ROMAIN  FIN*/

input+label {
  position: fixed;
  top: 30px;
  right: 40px;
  height: 20px;
  width: 15px;
  z-index: 5;
}

input+label span {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 50%;
  margin-top: -1px;
  left: 0;
  display: block;
  background: #020304;
  transition: .5s;
}

input+label span:first-child {
  top: 3px;
}

input+label span:last-child {
  top: 16px;
}

label:hover {
  cursor: pointer;
}

input:checked+label span {
  opacity: 0;
  top: 50%;
}

input:checked+label span:first-child {
  opacity: 1;
  transform: rotate(405deg);
}

input:checked+label span:last-child {
  opacity: 1;
  transform: rotate(-405deg);
}

input~nav {
  background: lightgrey;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 3;
  transition: .5s;
  transition-delay: .5s;
  overflow: hidden;
}

input~nav>ul {
  text-align: center;
  position: absolute;
  top: 35%;
  left: 20%;
  right: 20%;
}

input~nav>ul>li {
  opacity: 0;
  transition: .5s;
  transition-delay: 0s;
  list-style-type: none;
}

input~nav>ul>li>a {
  text-decoration: none;
  text-transform: uppercase;
  color: #020304;
  font-weight: 700;
  font-family: sans-serif;
  display: block;
  padding: 30px;
}

input~nav>ul>li>a:hover {
  color: grey;
}

input:checked~nav {
  height: 100%;
  transition-delay: 0s;
}

input:checked~nav>ul>li {
  opacity: 1;
  transition-delay: .5s;
}

h1 {
  text-align: center;
  color: blue;
}

img {
  width: 100vw;
  height: auto;
  right: 10%;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: blue;
  text-align: center;
}

.svg {
  margin: 1rem;
  left: 35%;
  height: 47%;
  align-items: center;
  margin-top: 7%;
}

.Evenement {
  color: white;
}

p {
  color: white;
  margin-right: 2%;
  text-align: right;
}

p span {
  float: left;
}

.dd {
  float: left;
  margin-left: 4%;
}

.ss {
  float: right;
  margin-right: 10%;
}

.videoWrapper {
  padding: 10%;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: -14px;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.arrow {
  float: right;
}

.arrow img {
  width: 10vw;
  height: 5vh;
}