body{
  margin: 0;
  padding: 0;
}
input + label {
  position: fixed;
  top: 30px;
  right: 40px;
  height: 20px;
  width: 15px;
  z-index: 5;
}
input + label span {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 50%;
  margin-top: -1px;
  left: 0;
  display: block;
  background: white;
  transition: .5s;
}
input + label span:first-child {
  top: 3px;
}
input + label span:last-child {
  top: 16px;
}
label:hover {
  cursor: pointer;
}
input:checked + label span {
  opacity: 0;
  top: 50%;
}
input:checked + label span:first-child {
  opacity: 1;
  transform: rotate(405deg);
}
input:checked + label span:last-child {
  opacity: 1;
  transform: rotate(-405deg);
}
input ~ nav {
  background: lightgrey;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 3;
  transition: .5s;
  transition-delay: .5s;
  overflow: hidden;
}
input ~ nav > ul {
  text-align: center;
  position: absolute;
  top: 35%;
  left: 20%;
  right: 20%;
}
input ~ nav > ul > li {
  opacity: 0;
  transition: .5s;
  transition-delay: 0s;
  list-style-type: none;
}
input ~ nav > ul > li > a {
  text-decoration: none;
  text-transform: uppercase;
  color: #020304;
  font-weight: 700;
  font-family: sans-serif;
  display: block;
  padding: 30px;
}
input ~ nav > ul > li > a:hover{
  color: grey;
}
input:checked ~ nav {
  height: 100%;
  transition-delay: 0s;
}
input:checked ~ nav > ul > li {
  opacity: 1;
  transition-delay: .5s;
}
h1{
  text-align: center;
  color: white;
}
img{
  max-width:101%;
   height:auto;
   right: 10%;
}
footer{
    position: fixed;
    left: 0;
      bottom: 0;
      width: 100%;
      background-color: black;
      color: white;
      text-align: center;
}
.svg{
  margin-left: 41%;
  left: 35%;
  height: 47%;
  align-items: center;
}
.Evenement{
  color: blue;
}
p {
  text-align: right;
  margin-right: 10%;

}
p span {
  float: left;
  margin-left: 10%;
}
